body {
  margin: 0px;
  font-family: 'Oswald', sans-serif;
  background-color: #cbd5cd;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #6d6d6d;
}
.page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#form-file-upload {
  height: 16rem;
  width: 28rem;
  max-width: 100%;
  text-align: center;
  position: relative;
}

#input-file-upload {
  display: none;
}

#label-file-upload {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 2px;
  border-radius: 1rem;
  border-style: dashed;
  border-color: #cbd5e1;
  background-color: #f8fafc;
}

#label-file-upload.drag-active {
  background-color: #ffffff;
}

.upload-button {
  cursor: pointer;
  padding: 0.25rem;
  font-size: 1rem;
  border: none;
  font-family: 'Oswald', sans-serif;
  background-color: transparent;
}

.upload-button:hover {
  text-decoration-line: underline;
}

#drag-file-element {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

#submit-resume,
#download-resume {
  /*background-color: #f8fafc;*/
  padding: 10px;
  margin-top: 10px;
  margin-left: 10px;
  border-color: #f8fafc;
  border-radius: 10px;
  width: 20vw;
  text-align: center;
  text-transform: uppercase;
  color: black;
}

.parse-resume-div {
  display: grid;
}

.parse-resume-div img {
  margin-left: auto;
  margin-right: auto;
}

.h6-text {
  font-size: 1rem;
  margin: 1em;
}

.text {
  margin: 0;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
}
.grid-item {
  max-height: 55vh;
  overflow-y: scroll;
  width: 40vw;
  margin-top: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #a2705a;
}
ol {
  margin: 0px;
  padding: 0px;
  background-color: #5aa269;
  list-style: none;
}

ol li {
  padding-top: 10px;
  border: 1px solid #8ebc97;
  padding-bottom: 10px;
}

.back-btn {
  margin-top: 10px;
  margin-left: 10px;
}
